body {
    background-color: black;
    text-align: center;
    font-family: Arial;
    font-size: 150%;
}

strong {
    color: white;
    font-family: Arial;
    font-size: 250%;
}

table, td, th {
    border: 1px solid white;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

td {
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 150%;
}

th {
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 150%;
}

tr:hover {
    background-color: midnightblue;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

